[user]
    email = kamil.warchol.93@gmail.com
    name = Kamil Warchoł
[alias]
    co = checkout
    master = checkout master
    dev = checkout develop
    br = branch --show-current
    p = pull --prune
    f = fetch --prune
    pf = push --force
    ff = merge @{u} --ff-only
    discard = checkout --
    unstage = reset HEAD
    amend = commit --amend
    amendv = commit -v --amend
    st = status
    s = status -s
    pop = stash pop --index
    lg = log --oneline --graph --decorate
    lga = log --oneline --graph --decorate --all
    df = diff --cached
[core]
    editor = vim
    autocrlf = input
    symlinks = true
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
